// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font Size
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Media query
$desktop-breakpoint: 45rem;

// --------------------------- //
/* About */
$primary-color: #343a41;
$primary-sub-color: #fa1d0e;

/* Projects */
$project-info-background: #3a4147;

/* Navigation */
$nav-background-color: #2a3035;

/* Footer */
$footer-color: #171a1d;

$white-color: #fff;
$black-color: #000;
$text-color: #94a4b4;
$text-dark-color: #5b6570;
$dark-color: #252a2e;

/* Scroll */
$scroll-color: #97bfd3;

/* Contacts */
$email-color: #6fc2b0;
$github-color: #333;
$likedin-color: #0077b5;
$resume-color: #565f69;

/* Button Background */
$btn-background-color: #22262a;

$second-font: 'Lato', sans-serif;
